@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.Modal {
  @apply justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none;
}

.Modal__content {
  @apply border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none;
  @apply relative w-auto my-6 mx-auto max-w-5xl;
}

.Modal__overlay {
  @apply opacity-25 fixed inset-0 z-40 bg-black;
}

.Modal__body {
  max-height: calc(100vh - 200px);
  @apply relative p-6 flex-auto overflow-y-auto;
}

.Modal__body__image-container {
  @apply w-full md:w-1/2 mx-auto;
}
