.Header-overlay {
  position: absolute;
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 20, 170, 0.6);
  /* Black background with opacity */
}

.Section .Title {
  /* @apply text-2xl; */
  font-size: 20px;
  text-decoration: dashed;
  border-bottom: 2px;
  /* @apply border-colorSecondary; */
  letter-spacing: 0.1em;
  font-weight: 600;
  width: fit-content;
  margin: auto;

  @screen md {
    font-size: 40px;
    margin-bottom: 40px;
    /* @apply text-4xl; */
  }

  @apply mb-3;
}

.Section .Title::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  @apply bg-colorSecondary;
  border-radius: 20px;
}