.Header {
  background-image: url("/header-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Header-overlay {
  position: absolute;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 20, 170, 0.6); /* Black background with opacity */
}

.Section {
  padding: 45px 50px;
  margin: 0 0 40px 0;
  width: 100%;
}
