.Button-list button {
  padding-right: 6px;
  @screen md {
    padding-right: 12px;
  }
}

.Button-list button:hover {
  color: orange;
}

.Button-list button.active {
  color: orange;
  text-decoration: underline;
}
