.Button-list button {
  padding-right: 12px;
}

.Button-list button:hover {
  color: orange;
  padding-right: 12px;
}

.Button-list button.active {
  color: orange;
  text-decoration: underline;
}
