.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  width: max-content;
  /* min-width: 100%; */
  transition: transform 0.5s ease;
  opacity: 0;
}

.carousel-item.active {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button__text {
  font-size: 2rem !important;
  @apply bg-colorCardSecondary bg-opacity-90 rounded-md text-colorTertiary;
}